.mainBody{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.navigation{
    display:"flex";
    gap:"16px";
    border: 5px red solid; 
    padding: 5px;
    font-size: 18px;
}
.register{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 5px blue solid;
    font-size: 18px;
}

.reglog_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 255, 0.89);
    border-radius: 5px;
}

.sections{
    height: 25px;
    width: 30%;
}

.regResponse{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(124, 185, 124);
    color: rgb(1, 85, 1);
}

.login{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 5px purple solid;
    font-size: 18px;
}

.logResponse{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(240, 23, 23);
    color: rgb(54, 32, 32);
}

.dashboard{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 5px blue solid;
    font-size: 18px;
}



.newArticle{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 5px orange solid;
    font-size: 18px;
}

.moreDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    background-color: orange;
    color: black;
    font-size: 18px;
    border-radius: 5px;
}
.moreDetails:hover{
    cursor: pointer;
}

.shownArticles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3px;
}

.article{
    border: black 1px solid;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px;
}

.title{
    display: flex;
    gap: 5px;
}